extends ../layout

block content
    .style 
    link(rel='stylesheet', href='/../bootstrap/css/bootstrap-flatly.css')
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    .row
    .colTitle
        h1= title
        h4= info
        h5= thoughts
        h6= inputidea
        .create
            br
            a.btn.btn-primary.btn-lg(href='/learninghub/new/', role='button') Create your entry here
        .listView
            each a in data
                .jumbotron
                    h3.display-4.md-right The article type is
                    br 
                    h4= a.articleType 
                    img.logo(src=val, alt="Disaster Relief Icon", style='width:10px/height:10px;')
                    p.lead-h4 The title of the entry is #{a.hubentryName}

                    hr.my-4
                    p.lead-h3 Submitted by #{a.author} 

                    p.lead The country it is about is !{a.county} 
                    p.lead The article shows #{a.hubtext}
                .comments              
                    p What do you think?
                    a.btn.ptn-secondary-btn-lg(href='/learninghub/#{a._id}/comment') Comment Here
