extends ../layout

block content
  .top
    h1= title
  .top

  .second
    .jumbotron
      h3= Qinfo
    .informationSection
      h4= info
    .informationSection
  .second.
  

  | Visualization: Map
  | The Chart below presents locations of Learninghub entries that have been entered so far
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(type='text/javascript').
        var apiOptions = {
            server : "http://localhost:3000"
          };
        // Load the Visualization API and the piechart package.
        google.charts.load('current', {'packages':['geochart'],
        'mapsApiKey': !{a}
        });
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var path = '/api/learninghub/visAll';
        var URL = apiOptions.server + path;
        var jsonData = $.ajax({
        url : URL,
        dataType: "json",
        async: false
        }).responseText;
        console.log(jsonData)
  
        var key = 'country';
        for (key in jsonData[1]) {
              var value = jsonData[key];
              // ...
          };
        console.log(value);



        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(data);
          data.addColumn({type: 'string', label: 'id'});
          data.addColumn({type: 'string',label: 'Country'});
        //  data.addRow(jsonData);
          console.log(data);
          

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 700, height: 340});
        }
  body
  // Div that will hold the pie chart
  #chart_div
    br
    br
  .info
    h4 Use the search below to find learninghub entries you may be interested in

  .searchbox
  .jumbotron
    form.form-horizontal(action='', method="post", role="form")
      - if (error == "empty")
        .alert.alert-dismissible.alert-info
          button.close(type='button', data-dismiss='alert') ×
          strong Oh snap!
          a.alert-link(href='#') No entries for that search criteria
          |  try again
      - if (error == "val")
          .alert.alert-dismissible.alert-danger
            button.close(type='button', data-dismiss='alert') ×
            strong Oh snap!
            a.alert-link(href='#') Please make sure all values are completed 
            |  and try submitting again.
      .form-group.col-md-12.md-center
          label.control-label.col-md-12.md-center(for="search") Learning hub title  
            textarea#search.form-control(name="search", rows='1', type="text")
            small#hubtextHelp.form-text.text-muted enter the topic of a learninghub you are interested in
      .form-group
        label.control-label(for="disasterType") Disaster Type
        .col-md-12.md-center
          select#disasterType.form-control.input-sm(name="disasterType")
            option ...
            option Landslide
            option Volcanic Eruption
            option Lightning
            option Forest Fire
            option Storm
            option Drought
            option Flood
            option Earthquake
            option Other
            option N/A
          small#hubtextHelp.form-text.text-muted enter the type of disaster you are interested in learning about
      .col-md-12.md-center
      button.btn.btn-primary.btn-lg.col-md-12.md-center Search
  

  .fifth
    h4= inputinfo
    .searchbutton2.col-md-12.text-left
      a.btn.btn-info.btn-lg(href='/learninghub/new/', role='button') Create your own entry here




  .card-body
