extends ../layout

block content
  h1= title
  p.lead Please review the information below, once you press the blue confirm button we will send the report to any matching users 
     .jumbotron
      h4= info 
        img.logo(src= icon, for=('repIcon'),alt="Disaster Relief Icon", style='width:20px/height:20px;')
        h6.display-4.md-right Report Code: #{data.reportName}
          h6 Please keep hold of your report code and use it in future correspondence about with community members
        p.lead-h4 Number of people affected is #{data.noPeopleAffected}
        p.lead Date submitted #{data.createdOn}
          br
        hr.my-4
        p.lead-h3 Submitted by #{data.author} 
          br
        .mapinformation
          | The map below
          | shows where you said you have been affected
          br
          br
          | All members of the community in the country of #{data.country} 
          | have been informed about the incident. They will get in contact to provide support. 
          | Users will able to have access to the address of #{data.address} once they login to the system.
        style.
              /* Set the size of the div element that contains the map */
            #map {
              height: 400px;  /* The height is 400 pixels */
              width: 100%;  /* The width is the width of the web page */
              }
        #map
        script.
            function initMap() {

              //var map = new google.maps.Map(document.getElementById('map'));

              var defaultLatLng = new google.maps.LatLng(!{data.coords.lat}, !{data.coords.lng});
              var countr = !{countrySend};

              var mapOptions = {
                  zoom: 8,
                  center: defaultLatLng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById('map'),
              mapOptions);


              var marker;
              marker = new google.maps.Marker({
              position: defaultLatLng,
              map: map,
              //title: !{data.reportName},
             // icon: repIcon
              });
            };
  

            // Need a way of importing key securely and to whitelist IP's on deployment
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPvir7Z2lcufXof9HTRehQ9SzmSMZ1qz0&callback=initMap')
        .body
        #regions_div(style='width: 500px; height: ยง00px;')
        .diver
          br
          br
      a.btn.btn-outline-info.btn-lg(href='/reporttool', role='button') Go back

