extends ../layout

block content
    .userinformation
    .top
      h2= title
    .somescript
    .info.md
      h6=info
    .imgTitle
  
    .jumbotron
      p.lead

      .alertStatus
        - if (!{check} == true)
          .alert.alert-dismissible.alert-success
              button.close(type='button', data-dismiss='alert') dismiss
              h4.alert-heading Report notification !
              p.mb-0
                | There are currently !{number} reports submitted about disaster in your local area
                a.alert-link(href='reporttool/list') Best check them out here
                | .
      h4= community
    .row
    .reporthome.col-md-left
      a.btn.btn-danger.my-2.my-sm-0btn-lg(href='/reporttool/', role='button') Report a Disaster Now


