//This is view c) The Collection - Tor Task1 of the Prototype submission

extends layout

block content
        h1= title
        br

        h4= info
        br
        h5= thoughts
        b

        .listView
            each obj in data
                .card.mb-3
                h3.card-header= obj.Name
                .card-body
                  p.card-text= obj.hubtext
                    br
                ul.list-group.list-group-flush
                  li.list-group-item= header1+obj.articleType
                  li.list-group-item= header2+obj.disasterType
                  li.list-group-item= header3+obj.continent
                .card-body
                  p= obj.createdDate
        br
        .input
          h6= inputidea
          a.btn.btn-primary.btn-lg(href='/learninghub/new/', role='button') Create your entry here
