extends layout

block content
    p.lead
      h1= title
    p.lead
      h2= work
       for Learninghub in lhEntries
        .col-xs-12.list-group-item
            h4
              p #{lhEntries.hubentryName}
            li.entry
              p #{lhEntries.articleType}
            li.entry
              p4= lhEntries.hubtext
            li.entry
