extends layout

block content
  .top
    h1= title
  .top
  #map
  h2 maps demo
    .script
    function initMap() {

    var uluru = {
    lat: -25.344,
    lng: 131.036
    };

    var map = new google.maps.Map(
      document.getElementById('map'), {
        zoom: 4,
        center: uluru
        });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
      });
    }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDeZhtVpwaxLEb0AMw-tHtQvNgVvy9HWbU&callback=initMap')
    script.


  .second
    .jumbotron
      h3= Qinfo
    .informationSection
      h4= info
    .informationSection
  .second

  .third
  h4= listinfo
    .Listbutton.col-md-12.text-center
      a.btn.btn-outline-info.btn-lg(href='/learninghub/list/', role='button') List of Learning Hub Entries
    .listbutton

    .fourth
      h4= inputinfo
      .searchbutton2.col-md-12.text-center
        a.btn.btn-primary.btn-lg(href='/learninghub/new/', role='button') Create your entry here

  .fith
  h4= sampleinfo
      .searchbutton.col-md-12.text-center
        a.btn.btn-outline-info.btn-lg(onclick='myFunction()') Check Sample below
    .card.mb-3
      h5.card-header= name
      .card-body
          li.list-group-item= artType
          li.list-group-item= disType
          li.list-group-item= text
          li.list-group-item= date
          li.list-group-item= continent
          li.list-group-item= map


  .card-body
